@font-face {
	font-family: 'Space Mono';
	src: url('/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.header {
	margin-bottom: 35px;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 730px;
	width: 100%;
}
.header-heading-light {
	color: #222731;
	font-family: 'Space Mono';
	font-size: 26px;
}
.header-heading-dark {
	color: #ffffff;
	font-family: 'Space Mono';
	font-size: 26px;
}
.theme-container {
	display: flex;
	gap: 16px;
	cursor: pointer;
}
.theme-text-light {
	font-family: 'Space Mono';
	color: #697c9a;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	align-self: center;
	text-size-adjust: 100%;
	line-height: 25px;
	cursor: pointer;
}
.theme-text-dark {
	font-family: 'Space Mono';
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	align-self: center;
	text-size-adjust: 100%;
	line-height: 25px;
	cursor: pointer;
}
